
.parent>h1{
    border: 1px solid rgb(233, 211, 13);
    text-align: center;
    color: rgba(223, 146, 12, 0.904);
}
.form{
    display: grid;
    border: px solid red;
    /* grid-template-rows: 10%; */
    margin-left: 25%;
    width: 110px;
}
#name{
    width: 100px;
}
button{
    margin-left: 25%;
}
button:hover{
    background-color: teal;
    color: white;
}
